{% extends 'base.html' %}

{% block content %}
    <article class="media">
        <div class="media-content">
            <div class="content">
                <a href="{% url 'add' %}">Adicionar Anotação</a>
            </div>
        </div>
    </article>

    {% for entry in entries %}
        <article class="media">
            <div class="media-content">
                <div class="content">
                    <p>
                        <strong>{{ entry.date_posted }}</strong>
                        <br> {{ entry.text }}
                    </p>
                </div>
            </div>
        </article>
    {% endfor %}

{% endblock %}