{% extends 'base.html' %}

{% block content %}
    <article class="media">
        <div class="media-content">
            <div class="content">
                <a href="{% url 'add' %}">Adicionar Anotação</a>
            </div>
        </div>
    </article>

    {% if notes %}
        {% for note in notes %}
            <article class="media">
                <div class="media-content">
                    <div class="content">
                        <p>
                            <strong>{{ note.title }} - {{ note.date }}</strong>
                            <a href="{% url 'delete' note.pk %}">Deletar</a>
                            <br> {{ note.text }}
                        </p>
                    </div>
                </div>
            </article>
        {% endfor %}
    {% else %}
        <article class="media">
            <div class="media-content">
                <div class="content">
                    <P>Não há anotações</P>
                </div>
            </div>
        </article>
    {% endif %}

{% endblock %}